<style>
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
} 
</style>
@{
  Layout="_LayoutAdmin";
}
<div class="container-fluid" id="container-wrapper">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Send Warning Message</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>Home / Employees / Send Warning Message</a></li>
      </ol>
  </div>
</div>
@{
    var iduser = ViewBag.iduser;
}
<div class="container" style="border-radius: 5px;background-color: #f2f2f2;padding: 20px;margin-left:50px;margin-right:30px;width:750px;">
  <form asp-action="SendWarningMessage" asp-controller="Employees">
    <input name="iduser" value="@iduser" hidden>
    <label for="leavedate1">Title</label>
    <input type="text" id="title1" name="title">

    <label for="message1">Message</label>
    <textarea id="message1" name="message" placeholder="Write something.." style="height:200px"></textarea>

    <input class="btn btn-info" type="submit" value="Submit">
  </form>
</div>
<br><br><br>