<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="/img/logo/logo.png" rel="icon">
  <title>RuangAdmin - Dashboard</title>
  <link href="/Style/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="/Style/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/Style/css/ruang-admin.min.css" rel="stylesheet">
</head>
<body>
  @{
      var admin = ViewBag.admin;
      var countLeaveReq = ViewBag.countLeaveReq;
    }
<div class="container">
  <main role="main" class="pb-3">
  <body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
        <div class="sidebar-brand-icon">
          <img src="/Style/img/logo/logo2.png">
        </div>
        <div class="sidebar-brand-text mx-3">RuangAdmin</div>
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item active">
        <a class="nav-link" href="/Dashboard/HomeDashboard">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        Features
      </div>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/Employees/ListEmployees" data-toggle="collapse" data-target="#collapseBootstrap"
          aria-expanded="true" aria-controls="collapseBootstrap">
          <i class="far fa-fw fa-window-maximize"></i>
          <span>Employees</span>
        </a>
        <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Categories</h6>
            <a class="collapse-item" href="/Employees/ListEmployees?val=Home">All</a>
            <a class="collapse-item" href="/Employees/ListEmployees?val=News">Permanent</a>
            <a class="collapse-item" href="/Employees/ListEmployees?val=Contact">Contract</a>
            <a class="collapse-item" href="/Employees/ListEmployees?val=About">Probation</a>
            <h6 class="collapse-header">Features</h6>
            <a class="collapse-item" href="/Employees/Export">Export All</a>
            <a class="collapse-item" href="/Employees/NewEmployee">Add New Employee</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Attendance/Index">
          <i class="fab fa-fw fa-wpforms"></i>
          <span>Attendance</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseTable" aria-expanded="true"
          aria-controls="collapseTable">
          <i class="fas fa-fw fa-table"></i>
          <span>Leave Request (@countLeaveReq)</span>
        </a>
        <div id="collapseTable" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="/Leaverequest/ListLeaveRequest?val=Home">All</a>
            <a class="collapse-item" href="/Leaverequest/ListLeaveRequest?val=News">Pending</a>
            <a class="collapse-item" href="/Leaverequest/ListLeaveRequest?val=Contact">Approved</a>
            <a class="collapse-item" href="/Leaverequest/ListLeaveRequest?val=About">Rejected</a>
          </div>
        </div>
      </li>
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        Processed
      </div>
      <li class="nav-item">
        <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapsePage" aria-expanded="true"
          aria-controls="collapsePage">
          <i class="fas fa-fw fa-columns"></i>
          <span>Applicants</span>
        </a>
        <div id="collapsePage" class="collapse" aria-labelledby="headingPage" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Categories</h6>
            <a class="collapse-item" href="/Applicants/ListApplicants?val=Home">All</a>
            <a class="collapse-item" href="/Applicants/ListApplicants?val=News">Unprocessed</a>
            <a class="collapse-item" href="/Applicants/ListApplicants?val=Contact">Scheduled to Psycho Test</a>
            <a class="collapse-item" href="/Applicants/ListApplicants?val=About">Scheduled to Interview</a>
            <h6 class="collapse-header">Features</h6>
            <a class="collapse-item" href="/Applicants/Export">Export All</a>
            <a class="collapse-item" href="/Applicants/NewApplicant">Add New Applicants</a>
          </div>
        </div>
      </li>
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        Announcement
      </div>
      <li class="nav-item">
        <a class="nav-link" href="/Broadcast/Send">
          <i class="fab fa-fw fa-share"></i>
          <span>Broadcast</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Dashboard/Event">
          <i class="fab fa-fw fa-wpforms"></i>
          <span>Events</span>
        </a>
      </li>
      <hr class="sidebar-divider">
    </ul>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
          <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle" src="/Style/img/boy.png" style="max-width: 60px">
                <span class="ml-2 d-none d-lg-inline text-white small">@admin</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/Home/Logout">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
            @RenderBody()
            </div>
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">

          </div>
        </div>
      </footer>
      <!-- Footer -->
    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
</body>

</main>
    </div>
    <script src="/Style/vendor/jquery/jquery.min.js"></script>
    <script src="/Style/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/Style/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/Style/js/ruang-admin.min.js"></script>
    <script src="/Style/vendor/chart.js/Chart.min.js"></script>
    <script src="/Style/js/demo/chart-area-demo.js"></script>  
    
    @RenderSection("Scripts", required: false)
</body>
</html>




