<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V15</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/wwwroot/Admin/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/wwwroot/Admin/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/wwwroot/Admin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/wwwroot/Admin/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/wwwroot/Admin/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/wwwroot/Admin/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/wwwroot/Admin/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/wwwroot/Admin/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/wwwroot/Admin/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/wwwroot/Admin/css/util.css">
	<link rel="stylesheet" type="text/css" href="/wwwroot/Admin/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			
            @RenderBody()
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="/wwwroot/Admin/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/wwwroot/Admin/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/wwwroot/Admin/vendor/bootstrap/js/popper.js"></script>
	<script src="/wwwroot/Admin/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/wwwroot/Admin/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/wwwroot/Admin/vendor/daterangepicker/moment.min.js"></script>
	<script src="/wwwroot/Admin/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/wwwroot/Admin/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/wwwroot/Admin/js/main.js"></script>

</body>
</html>